.side-menu {
    position: fixed;
    top: 0;
    right: -45%; 
    width: 45%;
    height: 100%;
    background-color: var(--bs-dark);
    transition: right 0.3s ease; 
}

.side-menu.show {
    right: 0; 
}

.task-info {
    padding: 20px;
}

#taskName {
    margin-top: 20px;
    font-size: 1.5rem;
}

#task-details {
    list-style-type: none;
    margin-bottom: 10px;
    flex-grow: 1;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.task-actions {
    margin-left: 10px;
}

.task-name {
    font-weight: bold;
}

.task-due-date,
.task-priority,
.task-status {
    margin: 5px 0;
}

.collapse {
    transition: height 0.3s ease-in-out !important;
}

.comment-box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.username-timestamp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.comment-content .btn {
    margin-top: 10px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #f5f5f5;
    color: #333;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--bs-dark);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content.show {
    display: block;
    right: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

.account-container {
    padding-top: 50px;
}

.account-heading {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
}

.user-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-details p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #555;
}

.user-details p:last-child {
    margin-bottom: 0;
}

.user-not-found{
    color: #f00;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-details p.username {
    font-weight: bold;
}

#updateForm {
    display: none;
}

#filesContainer {
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
}

#filesContainer div {
    margin-bottom: 10px;
}

.delete-icon {
    cursor: pointer;
    color: #ff0000; /* Red color for the delete icon */
    margin-left: 10px; /* Adjust the spacing between the View File link and the delete icon */
}

.search-results-box {
    background-color: var(--bs-dark);
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-group .btn {
    z-index: 0;
}
